/*Universal styles*/

body {
  font-family: Helvetica;
  font-size: 22px;
  background-color: black;
  opacity: 0.9;
  color: seashell;
  margin: 0;
}

a {
  color: seashell;
  text-decoration: underline;
}

h3 {
  font-size: 22px;
}

/*Header*/

header {
  display: flex;
  height: 69px;
  background-color: black;
  border-bottom: 1px solid seashell;
  position: fixed;
  align-items: center;
  width: 100%;
  z-index: 1;
  margin-top: 0;
  }

.logo {
  justify-content: flex-start;
  flex-direction: row;
  height: 50px;
  flex-grow: 1;
  padding-left: 10px;
}

.logo img {
  width: 180px;
}

/*Navigation Menu*/

.navigation {
  display: inline-block;
  margin-right: 10px;
}

.navigation span {
  padding: 10px;
  color: seashell;
}

  .mobile-nav {
    display: none;
  }

@media only screen and (max-width: 700px) {

  .navigation span {
    display: none;
  }

  .mobile-nav {
    display: block;
    list-style: none;
  }
}

/*Mission info*/

.mission {
  display: flex;
  height: 700px;
  width: 1200px;
  align-content: center;
  position: relative;
  top: 70px;
  margin: auto;
  background-image: url('../images/img-mission-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.text-content {
  display: flex;
  width: 1200px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-basis: auto;
  background-color: black;
}

.text-content h2 {
  margin-bottom: 5px;
}

.text-content h4 {
  margin-top: 10px;
}

@media only screen and (max-width 700px) {

  .mission div {
    width: 30rem;
    height: auto;
    margin: 0;
    padding: 0;
  }

  .text-content {
    width: auto;
    height: auto;
    margin: 1rem 0;
    padding: 0;

  }

  .text-content h2 {
    font-size: 1rem;
  }

  .text-content h4 {
    font-size: .5rem;
  }
}


/*tea of the month*/

.images {
  display: flex;
  max-width: 1000px;
  height: 800px;
  margin: auto;
  align-items: center;
  flex-flow:: column wrap;
  justify-content: center;
}

.teamonth {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 800px;
  flex-flow: column wrap;
}

.teamonth h2 {
  margin-bottom: 5px;
}

.steeping {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  height: 22px;
}

@media only screen and (max-width: 700px) {
  .teamonth,
    .steeping {
    font-size: 1.33rem;
    width: 100%;
    text-align: center;
  }
  .steeping h4 {
    font-size: 1rem;
  }
}

/*Tea collection part*/

.tea_collection {
  display: flex;
  position: absolute;
  top: 950px;
  left: 0;
  right: 0;
  width: 1000px;
  justify-content: center;
  margin: auto;
  flex-flow: row wrap;
}

.content {
  display: flex;
  align-items: center;
  max-width: 1000px;
  justify-content: center;
  flex-flow: column;
}

.second {
  display: flex;
  margin: 10px;
}

.text {
  display: flex;
  margin: 10px;
  height: 22px;
  align-items: center;
  flex-flow: row wrap;
}

.image {
  display: flex;
  height: 200px;
  width: 300px;
  margin: 10px;
}


@media only screen and (max-width: 700px) {
  .tea_collection,
    .second {
    margin: 0;
    width: 100%;
    height: auto;
    padding: 0;
    font-size: .5rem;
  }

  .content {
    flex-flow: row wrap;
    height: 30%;
    width: 50%;
    margin: 0;
  }

  .image {
    width: 150px;
    height: 100px;
  }
}

/*Locations*/

.locations {
  display: flex;
  height: 500px;
  width: 1200px;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  margin: auto;
  background-image: url('../images/img-locations-background.jpg');
}

.adress {
  display: flex;
  justify-content: center;
}

.adressblocks {
  display: flex;
  width: 300px;
  height: 250px;
  flex-direction: row;
  margin: 10px 20px;
  align-items: center;
  justify-content: center;
}

.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  width: 300px;
  align-items: center;
  max-height: 270px;
  opacity: 1;
  margin: 20px;
}

@media only screen and (max-width: 700px) {
  .locations {
    max-width: 30rem;
    height: auto;
    flex-direction: column;
  }

  .locations h2 {
    font-size: 2rem;
    color: black;
  }

  .adressblocks {
    flex-direction: column;
    height: 100%;
  }

  .locations h3 {
    font-size: 1rem;
    margin: 0;
  }
}

/*Footer*/

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  margin: 10px;
}

.email {
  display: flex;
  margin: 10px;
  align-items: center;
}

span h5 {
  float: left;
  margin-left: 20px;
}

@media only screen and (max-width: 700px) {
  footer,
    span{
    font-size: 1rem;
  }

  span h5 {
    margin: 0;
    float: none;
    text-align: center;
  }
}
