/*Universal styles*/
body {
  font-family: Helvetica;
  font-size: 22px;
  background-color: black;
  opacity: 0.9;
  color: seashell;
  margin: 0;
}

a {
  color: seashell;
  text-decoration: underline;
}

h3 {
  font-size: 22px;
}

/*Header*/
header {
  display: flex;
  height: 69px;
  background-color: black;
  border-bottom: 1px solid seashell;
  position: fixed;
  width: 100%;
  z-index: 1;
  align-items: center;
  margin-top: 0;
  }

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  height: 50px;
  flex-grow: 1;
  padding-left: 10px;
}

.logo img {
  width: 180px;
}

/*Navigation Menu*/
.navigation {
  display: inline-block;
  margin-right: 10px;
}

.navigation span {
padding: 10px;
color: seashell;
}

/*Mission info*/

.mission {
  display: flex;
  height: 700px;
  width: 1200px;
  align-content: center;
  position: relative;
  top: 70px;
  margin: auto;
  background-image: url('../images/img-mission-background.jpg');
  align-items: center;
  justify-content: center;
}

.text-content {
display: flex;
width: 1200px;
justify-content: center;
flex-direction: column;
align-items: center;
flex-basis: auto;
background-color: black;
}

/*tea of the month*/

.images {
  display: flex;
  max-width: 1000px;
  height: 800px;
  margin: auto;
  flex-flow:: column wrap;
  justify-content: center;
  align-items: center;
}

.teamonth {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 800px;
  align-items: center;
  flex-flow: column wrap;
}

.steeping {
  display: flex;
  flex-flow: column;
  height: 22px;
  align-items: center;
  justify-content: center;
  margin: 0;
}

/*Tea collection part*/

.tea_collection {
  display: flex;
  position: absolute;
  top: 950px;
  left: 0;
  right: 0;
  width: 1000px;
  justify-content: center;
  align-items: center;
  margin: auto;
  flex-flow: row wrap;
}

.content {
  display: flex;
  max-width: 1000px;
  align-items: center;
  justify-content: center;
  flex-flow: column;
}

.second {
  display: flex;
  margin: 10px;
}

.text {
  display: flex;
  margin: 10px;
  height: 22px;
  align-items: center;
  flex-flow: row wrap;
}

.image {
  display: flex;
  height: 200px;
  width: 300px;
  margin: 10px;
}

/*Locations*/

.locations {
  display: flex;
  height: 500px;
  width: 1200px;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  margin: auto;
  background-image: url('../images/img-locations-background.jpg');
}

.adress {
  display: flex;
  justify-content: center;

}

.adressblocks {
  display: flex;
  width: 300px;
  height: 250px;
  flex-direction: row;
  align-items: center;
  margin: 10px 20px;
  justify-content: center;
}

.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  width: 300px;
  max-height: 270px;
  opacity: 1;
  margin: 20px;
}

/*footer*/

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 200px;
  margin: 10px;
}

.email {
  display: flex;
  margin: 10px;
  align-items: center;
}

span h5 {
  float: left;
  margin-left: 20px;
}
